In [26]:
#import find_converged as fc
import os
import glob
import pandas as pd

import shutil

In [30]:
def initialize_database(workdirs):
    workdirs.sort()
    indices = []
    comps = []
    lam_vals = []
    for wd in workdirs:
        splitted = wd.split('/')
        comp = splitted[-2]
        lam_val = splitted[-1]
        comps.append(comp)
        lam_vals.append(lam_val)
        indices.append(f'{comp}:{lam_val}')

    database = pd.DataFrame(index = indices, columns=['comp_name', 'lam_val', 'status', 'restart', 'workdir'])
    database['comp_name'] = comps
    database['lam_val'] = lam_vals
    database['workdir'] = workdirs
    database['restart'] = len(workdirs)*[False]
    return(database)

def add_columns(col_workdir, col2add='all'):
    """
    adds colums to database
    """
    if col2add=='all':
        lam_val = []
        comp_name = []
        for i in col_workdir:
            splitted = i.split('/')
            lam_val.append(splitted[-1])
            comp_name.append(splitted[-2])
        status = len(col_workdir)*['']
        cols = comp_name, lam_val, status
        
    return(cols)

In [33]:
# first initialization
paths = glob.glob('/scicore/home/lilienfeld/sahre0000/projects/atomic_energies/results/amons/amon*/ve*')
database = initialize_database(paths)
database.to_pickle('/scicore/home/lilienfeld/sahre0000/projects/atomic_energies/results/amons/calculation_manager.pd')
# database = pd.DataFrame(data = paths, columns=['workdir'])

# # make new cols
# colwd = list(database['workdir'])
# cols = add_columns(colwd)
# # add cols
# database['comp_name'] = cols[0]
# database['lam_val'] = cols[1]
# database['status'] = cols[2]

In [32]:
database

,comp_name,lam_val,status,restart,workdir
amon_000001:ve_02,amon_000001,ve_02,NaN,False,/scicore/home/lilienfeld/sahre0000/projects/at...
amon_000001:ve_03,amon_000001,ve_03,NaN,False,/scicore/home/lilienfeld/sahre0000/projects/at...
amon_000001:ve_05,amon_000001,ve_05,NaN,False,/scicore/home/lilienfeld/sahre0000/projects/at...
amon_000001:ve_06,amon_000001,ve_06,NaN,False,/scicore/home/lilienfeld/sahre0000/projects/at...
amon_000001:ve_08,amon_000001,ve_08,NaN,False,/scicore/home/lilienfeld/sahre0000/projects/at...
...,...,...,...,...,...
amon_000801:ve_06,amon_000801,ve_06,NaN,False,/scicore/home/lilienfeld/sahre0000/projects/at...
amon_000801:ve_12,amon_000801,ve_12,NaN,False,/scicore/home/lilienfeld/sahre0000/projects/at...
amon_000801:ve_18,amon_000801,ve_18,NaN,False,/scicore/home/lilienfeld/sahre0000/projects/at...
amon_000801:ve_24,amon_000801,ve_24,NaN,False,/scicore/home/lilienfeld/sahre0000/projects/at...
amon_000801:ve_30,amon_000801,ve_30,NaN,False,/scicore/home/lilienfeld/sahre0000/projects/at...

In [10]:
list(database['workdir'])[:5]

['/scicore/home/lilienfeld/sahre0000/projects/atomic_energies/results/amons/amon_000212/ve_28',
 '/scicore/home/lilienfeld/sahre0000/projects/atomic_energies/results/amons/amon_000212/ve_11',
 '/scicore/home/lilienfeld/sahre0000/projects/atomic_energies/results/amons/amon_000212/ve_06',
 '/scicore/home/lilienfeld/sahre0000/projects/atomic_energies/results/amons/amon_000212/ve_22',
 '/scicore/home/lilienfeld/sahre0000/projects/atomic_energies/results/amons/amon_000212/ve_17']